* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* contenitore */
#contenitore{
  width: 100%;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

/* parte main */

main{
  height: calc(100vh - 90px);
}

/* parte nav */
main .mainnav{
  float: left;
  width: 250px;
  height: 100%;
  background-color: black;
  display: flex;
  padding: 1% 1%;
  flex-direction: column;
  justify-content: space-between;
}
.menumain{
  margin-top: 20px;
  display: table;
}
.mainnav img{
  height: 35px;
}

.menumain img{
  height: 20px;
}
.menumain ul li span{
  font-size: 13px;
  color: #b3b3b3;
  padding-left: 7px;
  display:table-cell;
  vertical-align:middle;
}
.menumain ul li span:hover{
  color: white;
}

.table{
  display: table;
}
.table a{
  display: table-cell;
}
.table span{
  padding-left: 10px;
}
.table span:hover{
  color: #1db954;
}

.menumain ul li{
  padding-bottom: 10px;
}
.menumain ul li a{
  text-decoration: none;
}
.inferiore ul li{
  color: white;
}
.menumain h2{
  margin-top: 20px;
  color: white;
  font-size: 14px;
}
.menumain p{
  font-size: 13px;
}
.cubo{
  margin-top: 10px;
  height: 35px;
  width: 35px;
  background-color: #b3b3b3;
  display: flex;
}
.cubo i{
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  color: black;
}

.cubo:hover{
  background-color: #1db954;
}
.menumain a{
  text-decoration: none;
}
.menumain{
  list-style-type: none;
}

.menumain span{
  color: white;
}
.menumain p{
  color: #b3b3b3;
}
.menumain p:hover {
  color: white;
}

.inferiore ul{
  width: 100%;
  list-style-type: none;
}
.inferiore ul li a{
  text-decoration: none;
}
.inferiore ul li a span{
  color: #b3b3b3;
  display:table-cell;
  vertical-align:middle;
  padding-left: 5px;
}
.inferiore img{
  height: 15px;
}
.inferiore{
  display: table;
}
#riga{
  display:inline-block;
  height: 1px;
  width: 200px;
  background-color: white;
  color: white;
  margin-bottom: 5px;
}

.inferiore ul li a span:hover{
  color: white;
}




/* parte home */

main .home{
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  background-color: #1b2632;
}

.upgrade{
  display: flex;
  height: 100px;
  background-color: #000d1a;
  align-items: center;
  justify-content: flex-end;
  padding: 0 1%;

}
.button{
  background-color: #000d1a;
  border: solid 1px white;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: absolute;
  transition: .3s;
}
.button:hover{
  background-color: #1db954;
  color: white;
  transform: scale(1.1);
}
/* parte navhome */
.songmenu{
  padding: 0 1%;
  overflow: auto;
  height: calc(100% - 100px);
}
.navhome ul{
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 15px;
}
.navhome ul a{
  font-size: 13px;
  padding-right: 25px;
  color: #b3b3b3;
  text-decoration: none;
}
.navhome ul li a span{
  margin-left: 25px;
  display: block;
  width: 30%;
  height: 2px;
  background-color: #1db954;
}
.navhome ul li a:hover{
  color: white;
}


/* parte recently played */
#songs h1{
  padding-top: 30px;
  color: white;
}
#songs .immagini ul{
  margin-top: 20px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#songs .immagini img{
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}
.immagini .container{
  margin-right: 20px;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.immagini .container:hover .overlay{
  opacity: 1;
  cursor: pointer;
}
.text{
  display: flex;
  color: white;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#songs .immagini ul li h2{
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
  color: white;
}
#songs .immagini ul li p{
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #b3b3b3;
}


/* songs 2 */
#songs2 h1{
  padding-top: 30px;
  color: white;
}
#songs2 p{
  color: #b3b3b3;
  padding-top: 15px;
}
#songs2 .immagini ul{
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}
#songs2 .immagini img{
  height: 200px;
}
#songs2 .immagini ul li{
  margin-right: 30px;
}
#songs2 .immagini ul li h2{
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
  color: white;
}
#songs2 .immagini ul li p{
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
}

/* songs 3 */
#songs3 h1{
  padding-top: 30px;
  color: white;
}
#songs3 p{
  color: #b3b3b3;
  padding-top: 15px;
}
#songs3 .immagini ul{
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
}
#songs3 .immagini img{
  border-radius: 50%;
  height: 200px;
}
#songs3 .immagini ul li{
  margin-right: 30px;
}
#songs3 .immagini ul li h2{
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
  color: white;
  padding-bottom: 30px;
}
#songs3 .immagini ul li p{
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
}
.overlay2{
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
.immagini .container:hover .overlay2{
  opacity: 1;
}


/* parte footer */
footer{
  position: absolute;
  z-index: 999;
  padding: 0 .5%;
  height: 90px;
  background-color:  #404040;
  border-top: 1px solid #000;
}
.player{
  display: flex;
  justify-content: space-between;
  height: 100%;
}


/* parte sinistra del player */
.sinistra img{
  height: 50px;
}
.sinistra{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
.sinistra span{
  font-size: 12px;
  color: white;
}
.sinistra p{
  display: block;
  color: #b3b3b3;
}
.sinistra i{
  color: #b3b3b3;
  margin-right: 5px;
}
.sinistra i:hover{
  color: white;
}


/* parte centrale del player */
.centrale{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
}
#player{
  display: flex;
  justify-content: space-between;
  width: 50%;
  align-items: center;
}
#player a{
  display: inline-block;
  color: white;
  font-size: 14px;
}
#player a:hover{
  color: #b3b3b3;
}
#player #tastoplay{
  font-size: 26px;
}

#barra{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110%;
}

#barra p{
  color: white;
  font-size: 10px;
}

#meter{
  width: 100%;
  background-color: #b3b3b3;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
}
#mybar{
  width: 20%;
  height: 4px;
  background-color: white;
  border-radius: 30px;
}
#mybar:hover{
  background-color: #1db954;
}

/* parte destra del player */
.destra{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.destra a{
  display: inline-block;
  color: white;
  font-size: 15px;
  margin-left: 5%;
}
#meter2{
  margin-left: 10px;
  width: 50%;
  background-color: #b3b3b3;
  border-radius: 30px;
}
#mybar2{
  width: 20%;
  height: 4px;
  background-color: white;
  border-radius: 30px;
}
#mybar2:hover{
  background-color: #1db954;
}





.destra{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
